ul{
    /*on supprime les puces, on precise une largeur et on centre la liste par rapport a la page*/
    list-style: none;
    width: 60%;
    margin: auto;
}
li{
    /* on fixe les dimensions des element de notre liste.*/
    width: 150px;
    height: 150px;
    /*on met en forme le texte .*/
    text-align: center;
    font-weight: bold;
    /*on modifie l'affichage pour que les elements soient sur la meme ligne*/
    display: inline-block;
    /*on ajoute une petite bordure et on definit et on definit les marges.*/
    border: 1px solid #000;
    margin: 10px;
    padding: 0px;
    /*quitte a faire du css3, autant avoir des coins arrondis :p. */
    border-radius: 10px;
    /*on centre l'arriere-plan.*/
    background-position: center;
    /* On modifie la position pour pouvoir ensuite
placer comme on le souhaite la description des liens. */
position: relative;
/* On n'affiche pas ce qui dépasse de nos éléments ! */
overflow: hidden;
}
/*On indique les images à afficher
en arrière-plan pour chaque élément. */
#item1{
    background-image: url('bgd1.jpg')
}
#item2{
    background-image: url('bgd2.jpg')
}
#item3{
    background-image: url('bgd3.jpg')
}
#item4{
    background-image: url('bgd4.jpg')
}
#item5{
    background-image: url('bgd5.jpg')
}
li a
{
/* Pour fixer les dimensions d'un lien,
il est nécessaire de l'afficher en tant
qu'élément de type block. */
display: block;
width: 100%;
height: 100%;
text-decoration: none;
}
li span
{
display: block;
height: 50px;
width: 100%;
color: #fff;
margin: 0px;
/* La taille des lignes est égale à
la hauteur de l'élément. Cela permet
de centrer verticalement le texte. */
line-height: 50px;
/* Abusons du CSS3 en affichant
un arrière-plan semi-transparent ! */
background-color: rgba(0,0,0,0.3);
/*Mettons les coins inférieurs arrondis
pour que ce soit plus propre
(merci à wibix pour la remarque)*/
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
/* Position absolue pour afficher
la description avec précision. */
position: absolute;
/* L'ordonnée de l'élément est égale
à la hauteur de son parent (150px) :
la description sera donc située sous
son parent. */
left: 0px;
top: 150px;
}
li span
{
display: block;
height: 50px;
width: 100%;
color: #fff;
margin: 0px;
/* La taille des lignes est égale à
la hauteur de l'élément. Cela permet
de centrer verticalement le texte. */
line-height: 50px;
/* Abusons du CSS3 en affichant
un arrière-plan semi-transparent. */
background-color: rgba(0,0,0,0.3);
/* Position absolue pour afficher
la description avec précision. */
position: absolute;
/* L'ordonnée de l'élément est égale
à la hauteur de son parent (150px) :
la description sera donc située sous
son parent. */
left: 0px;
top: 150px;
/* N'oublions pas les transitions ! */
transition-property: top;
transition-duration: 1s;
}
/* On modifie l'ordonnée des descriptions contenues
dans un élément d'une liste survolée par la souris. */
li:hover span
{
top: 100px;
}

