* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header {
    background-color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
  }
  .logo{
    color: #06bbcc;
  }

  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 50px;
  }
  
  nav ul li a {
    color: #0a0a0a;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    color: #06bbcc;
  }
  
  nav ul li a:active {
    color: #06bbcc;
  }
  
  /* Styles spécifiques pour le menu déroulant */
  nav ul li ul {
    display: none;
    position: absolute;
    background-color: #f0fbfc;
    padding: 10px;
    color: #06bbcc;
  }
  
  nav ul li:hover ul {
    display: block;
  }

.image{
    display: flex;
    justify-content: space-between;
}
  
  .container img{
    height: 250px;
    width: 310px;
  }
  .titre h1{
    text-align: center;
    color: #06bbcc;
  }
  
  .container-1 img{
    height: 250px;
    width: 410px;
  }
  .titre h1{
    text-align: center;
    color: #06bbcc;
  }
   /* footer*/
   footer{
    background-color: rgb(12, 27, 78);
    height: 100px;
}
.copy{
    text-align: center;
    color: #fff;
      padding-top: 75px;
  
}